body{
	background-color:#EED5B7;
}
.os1{
	text-align:center;
	font-weight:bold;
	font-style:normal;
	color:#8b8989;
}
.txt1{
	text-align:center;
	font-style:italic;
	font-size:25px;
}
.im1{
	float:right;
}